* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f1f5f8;
    color: #102a42;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 0.9rem;
}


h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    color: #c59d5f;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: #c59d5f;
    margin: 0.5rem auto;
}

#btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1.5rem;
}

#btn button {
    padding: 0.5rem 1.5rem;
    border: 2px solid #c59d5f;
    color: #c59d5f;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
}

#btn button:hover {
    background: #c59d5f;
    color: white;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.54);
}

#foodItems {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    margin: 2rem auto;
}


.foodItem {
    display: flex;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.54);
    width: 48%;
    margin: 0 auto;
    gap: 1rem;
}

.foodItem:hover {
    box-shadow: 5px 5px 7px 5px #c59d5f;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
}

.imgDiv {
    width: 450px;
    overflow: hidden;
    width: 80%;
    border-radius: 2rem;
}

.imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.54);
    border-radius: 1rem;
}

.titleDescription {
    width: 20%;
    display: flex;
}

p {
    text-align: justify;
    padding-right: 1rem;    
    padding-bottom: 1rem;
}

.titlePrice {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.titlePrice p {
    display: flex;
    font-size: 1.2rem;
    font-size: bold;
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    position: relative;
}

input {
    width: 30vw;
    height: 5vh;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 2rem;
    border: 2px solid #c59d5f;
    color: #c59d5f;
    font-weight: bold;
    outline: none;
}

input:hover {
    background-color: #c59d5f;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.54);
}

form button {
    position: absolute;
    right: 35%;
    padding: 8px 8px;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: 2px solid #c59d5f;
    color: #c59d5f;
    font-weight: bold;
    background: white;
}

form button:hover {
    border: none;
    background-color: #c59d5f;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.54);
}





















@media (max-width: 450px) {
    #btn {
        display: flex;
        flex-wrap: wrap;
    }

    input {
    width: 75vw;
    font-size: 1rem;
    padding: 10px;
    }

    form button {
    /* position: static;     */
    margin-top: 10px;
    width: 50vw;
    font-size: 1rem;
    }

    form {
    flex-direction: column;
    align-items: center;
    }

}

@media (max-width: 768px) {

    #btn {
        display: flex;
        flex-wrap: wrap;
    }
    
    .imgDiv {
        width: 100%;
    }

    .imgDiv img {
        width: 100%;
    }

    .foodItem {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    input {
    width: 60vw;
    font-size: 1.1rem;
    padding: 18px;
    }

    form button {
    right: 25%;
    font-size: 1rem;
    width: 20vw;
    }

}

@media (max-width: 1024px) {

    .imgDiv {
        width: 100%;
    }

    .imgDiv img {
        width: 100%;
    }

    .foodItem {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    input {
    width: 40vw;
    font-size: 1.1rem;
    }

    form button {
    right: 30%;
    width: 12vw;
    }

}